.error-msg-container {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: azure;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
    border-radius:1rem ;
  }

.message-error{
    color: rgb(112, 5, 162);
    font-weight: 600;
  }

  .omg-icon {
    width: 5rem; /* Adjust the size */
  }
  

