.getAlltravelData-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    min-height: 100vh;
    box-sizing: border-box;
    text-align: center;
}

.cards-container-alltravelData {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 1.5rem; /* Space between the cards */
  margin: 0 auto; /* Center the grid container */
}

.travel-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
  
  .travel-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  
  .travel-card {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  
  .card-general-title{
    color: #00538C;
  }

  .travel-card .normal-card-text{
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  .travelDataTableResult{
    padding: 1rem;
    background-color: aliceblue;
    color: #00538C;
    border-radius: 1rem;
    font-size: large;
    font-weight: 600;
  }