.register-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
    box-sizing: border-box;
    text-align: center; 
  }

  .register-warning-pop-up-message-animation{
    animation: popUp 0.5s ease-in-out forwards;
    color: red;
    z-index: 0; 
  }

  .register-successful-pop-up-message-animation{
    animation: popUp 0.5s ease-in-out forwards;
    color: rgb(41, 153, 114);
    z-index: 0; 
  }